@mixin theme($name: null) {
  @each $theme-name, $map in $themeVals {
    @if $name == null or $name == $theme-name {
      [data-theme="#{$theme-name}"] & {
        $theme-map: $map !global;

        @content;
      }
    }
  }
}

@function getMapByKey($map, $keys, $index) {
  $key: $keys;
  $len: 0;
  @if type-of($value: $keys) == list {
    $key: nth($keys, $index);
    $len: length($keys) - $index;
  }
  $data: map-get(
    $map: $map,
    $key: $key,
  );
  @if type-of($value: $data) == map and $len > 0 {
    @return getMapByKey($data, $keys, $index + 1);
  } @else {
    @return $data;
  }
}

@function themeVal($keys) {
  @return getMapByKey($theme-map, str-split($keys, "."), 1);
}

@mixin themeVal($keys) {
  $list: getMapByKey($theme-map, str-split($keys, "."), 1);
  @each $key, $val in $list {
    #{$key}: #{$val};
  }
}

@function str-split($string, $separator) {
  $split-arr: ();
  $index: str-index($string, $separator);
  @while $index != null {
    $item: str-slice($string, 1, $index - 1);
    $split-arr: append($split-arr, $item);
    $string: str-slice($string, $index + 1);
    $index: str-index($string, $separator);
  }
  $split-arr: append($split-arr, $string);
  @return $split-arr;
}
